body {
	background-color: #f8f8ff;
}

header {
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}

.searchButton {
	margin: 20px 10px 20px 0;
}

#search-form {
	float: right;
	font-size: 14px;
	width: 200px; 
}

.input-field.inline {
	margin-left: 0;
}

#searches {
	margin-top: 20px;
}
